@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --gray: #e2e2e2;
  --light-blue: rgb(217, 217, 255);
  --very-light-blue: #bbbac7;
  --light-green: rgb(20 165 64);
}

.container {
  width: 100%;
  height: 100vh;
  margin: auto;
}

hr {
  color: black;
  width: 100%;
}

nav {
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  /* border-right: solid 1px black; */
  background-color: rgb(239, 239, 255);
  font-weight: 600;
  padding: 15px;
  font-size: 20px;
  float: left;
  box-shadow: 0 5px 8px 0 #333;
}

nav .logo-website {
  font-size: 20px;
  width: calc(100% + 15px);
  /* text-align: center; */
  text-transform: capitalize;
}

nav .profile {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

nav .profile .profile-logo {
  background-color: var(--light-green);
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

nav .details {
  text-transform: capitalize;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
}

nav ul li {
  width: 100%;
  padding: 15px;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
  /* background-color: rgb(145, 145, 243);; */
}

nav ul .active {
  width: 100%;
  padding: 15px;
  border-radius: 0px 50px 50px 0px;
  background-color: rgb(145, 145, 243);
}

.dashboard-container {
  padding: 15px;
  background-color: var(--light-blue);
  width: 75%;
  height: 100%;
  margin-left: auto;
}

.content {
  border: solid 1px var(--gray);
  height: 94%;
  width: 100%;
  margin-top: 6%;
  padding: 15px;
  background: white;
  box-shadow: 0 5px 8px 0 #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content .profile-container button {
  font-size: 20px;
  width: 100%;
  padding: 15px 10px;
  background-color: rgb(139, 139, 255);
  border-radius: 10px;
  border: none;
  color: white;
}

.content .delete-btn {
  background: white;
  color: red;
  border: solid 1px red;
  margin: 15;
  padding: 0px;
  padding-inline: 10;
}

.content .update-btn {
  background: white;
  color: black;
  border: solid 1px rgb(1, 47, 1);
  margin: 15;
  padding: 0px;
  padding-inline: 5;
}

.ant-table {
  font-size: 20px !important;
}

.treatment-option .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.filters > *{
  width: 100%;
}



.treatment-option {
  overflow-y: scroll;
  height: 90vh;
  justify-content: inherit;
}


.treatment-option .search-btn {
  font-size: 15px;
  padding: 5px 5px;
  width: 50%;
  background-color: rgb(139, 139, 255);
  border-radius: 10px;
  border: none;
  color: white;
}
