.background {
  background-color: #e2e2e2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_container {
  height: 80%;
  width: 80%;
  z-index: 2;
  /* background-color: blue; */
  margin: auto;
  border-radius: 50px;
  box-shadow: 0 5px 8px 0 #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_content {
  width: 50%;
  height: 100%;
  position: relative;
  border-right: #333 1px solid;
}

.left_content img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50px 0px 0px 50px;
}

.right_content {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 217, 255);
  gap: 10px;
  border-radius: 0px 50px 50px 0px;
}

.right_content button {
  font-size: 20px;
  width: 100%;
  padding: 15px 10px;
  background-color: rgb(139, 139, 255);
  border-radius: 10px;
  border: none;
  color: white;
}

.login_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.dont_have_accont {
  color: rgb(20 165 64);
  cursor: pointer;

}

.error {
  color: red;
}
