.background {
  background-color: rgb(217, 217, 255);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_container {
  height: 80%;
  width: 80%;
  z-index: 2;
  /* background-color: blue; */
  margin: auto;
  border-radius: 50px;
  box-shadow: 0 5px 8px 0 #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_content {
  width: 50%;
  height: 100%;
  position: relative;
}

.right_content {
  width: 50%;
}
